@import "modules/mixins";
@import "partials/reset";
@import "partials/add_task";
@import "partials/right_content";
@import "partials/left_menu";
@import "partials/button";

@include phone;
@include tablet;
@include desktop;

body {
  position:absolute;
  width: 100%;
  margin: 0;
  background-color: #e3e3e3;
}

* {
  box-sizing: border-box;
}
